h2{
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

.home-page{
  text-align: center;
}
.navbar-container{
  padding: 0.07% 5% 0.07% 3%;
}

.navbar{
  background-color: #19ffd9;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

#title {
  background-color: #20f5d2;
  color: #fff;
}

.title-margin{
  margin-top: 120px;
}

.title-text{
  padding: 5% 5% 3% 5%;
  text-align: left;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image2{
  width: 40%;
  margin: 100px auto auto 50px;
}

@media(max-width:991.20px ) {
  #title{
    text-align: center;
  }
  .title-text{
    padding: 4% 10% 1% 10%;
      text-align: center;
  }
  .title-image1{
    padding: 0 100px 20px 100px;
  }
  .title-image2{
    position: static;
    margin: auto;
  }
}

@media(max-width:535px ) {
  #title{
    text-align: center;
  }
  .title-text{
    padding: 15% 10% 3% 10%;
    text-align: center;
  }
  .title-image2{
    position: static;
    margin: auto;
  }
}

#features {
  background-color: #c4ffea;
  padding: 2% 5% 5% 5%;
  position: relative;
}

.card{
  background-color: #f0fcfa;
}

.features-icon{
  color:#68c4bd;
  padding: 8%;

}

.featurs-box{
  padding: 5% 2% 5% 2%;
  text-align: center;
}

.learning-types{
  background-color: #d3ffc4;

  text-align: center;
}

.learning{
  width: 70%;
  margin: 70px auto auto auto;
  text-align: left;
}

.online-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}

.offline-img{
  width: 30%;
float: right;
margin-left: 30px;
}

.metaverse-learning{
  padding: auto auto 100px auto;
}

.metaverse-img1{
  width: 20%;
float: left;
margin-left: 30px;
}

.metaverse-img2{
  width: 20%;
float: right;
margin-right:30px;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.white-section{
  background-color: #c4ffea;

}

.colored-section{
  background-color: #20f5d2;
}

.register-form{
  padding: 50px 30px 50px 30px;
  background-color:   #c4ffea;
}

.end-pg{
  background-color: #20f5d2;
  text-align: center;

}
. end-img{
  background-color: #20f5d2;
}
